// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-gray-light-1: #f7f7f7;

$color-gray-dark: #777777;
$color-white: #ffff;
$color-black: #000;
$color-gray: #eee;
$color-oranged: orangered;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;